<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test Toast">
    <classes>
      <class name="org.AutomationStore.GeneralTestMulti1"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Test browser only">
    <classes>
      <class name="org.AutomationStore.browserTest"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Test end2end Store">
    <classes>
      <class name="org.AutomationStore.GeneralTest"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
